$primary-color : #01539d;
$secondary-color : #eea47f;
body{
    font-family: 'Roboto';
}
img{
    width: 100%;
}
.section-container{ 
    padding: 0 3rem;
}
.page-title{
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}
.section-title{
    text-transform: uppercase;
    font-size: 22px;
    color: $primary-color;
}
.logout-btn{
    border: 1px solid $secondary-color !important;
    color: $secondary-color !important;
    &:hover{
        background: #fff5f0 !important;
    }
}
.delete-icon{
  position: absolute;
  cursor: pointer;
  right: 1rem;
  color: red;
}
/* Spinner */
.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #01539d transparent #07589e transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.image-alert{
  color: red;
  margin-top: -0.23rem;
  font-size: 14px;
}